{% extends 'baseNav.html' %}
{% block content %}

<section class="content-header">
  <h1>
    Criação de Party
    <small>Crie sua party</small>
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Games</li>
    <li class="active">Criar Party</li>
  </ol>
</section>
<section class="content">
  <div class="box box-warning">
    <div class="box-header with-border">
      <h3 class="box-title">Party</h3>
    </div>
    <form method="POST" class="post-form">{% csrf_token %}
      <div class="box-body">
        <div class="form-group">
          <label>Nome da Party</label>
          {{ form.name }}
        </div>
        <div class="form-group">
          <label>Descrição da Party</label>
          {{ form.description }}
        </div>
        <div class="form-group">
          <label>Imagem de Party</label>
          {{ form.party_img }}
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button type="submit" class="btn btn-primary">Atualizar</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
