{% extends 'base.html' %}
{% block content %}
<form action="{% url 'PartyAssembler:register' %}"class="post-form" method="post">{% csrf_token %}
  <p class="login-box-msg">Registre novo membro</p>
  <div class="form-group has-feedback">
    {{ form.first_name }}
    {{ form.first_name.error }}
    <span class="glyphicon glyphicon-user form-control-feedback"></span>
  </div>
  <div class="form-group has-feedback">
    {{ form.username }}
    {{ form.username.error }}
    <span class="glyphicon glyphicon-user form-control-feedback"></span>
  </div>
  <div class="form-group has-feedback">
    {{ form.last_name }}
    {{ form.last_name.error }}
      <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
      {{ form.password }}
      {{ form.password.error }}
      <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    <div class="row">
      <!-- /.col -->
      <div class="col-xs-4">
        <button type="submit" class="btn btn-primary btn-block btn-flat">Registrar</button>
      </div>
      <!-- /.col -->
    </div>
  </form>
  {% endblock %}
